@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    background: radial-gradient(73.04% 119.89% at 42.43% 50%, #b48841 16.1%, #E38C00 49.1%, #D6890D 67%, #C6861E 89.6%);
    
    /* justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f8f8; */
}
header {
    margin: 20px auto;
}

.main-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #f4a733;
    padding: 12px 20px;
    border-radius: 10px;
    justify-content: center;
    max-width: fit-content;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.main-menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: color 0.3s ease;
    white-space: nowrap;
}

.main-menu a:hover {
    color: white;
}

.logo img {
    width: 2000px;
    height: 2000px;
}

/* Иконки */
.main-menu img:not(.cart-icon) {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.logo {
    width: 70px;
    height: 70px;
    margin-right: 15px;
    border-radius: 50%;
}
h1 {
    width: 100%;
    height: 10%; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(16px, 5vw, 48px);
    line-height: 48px;

    color: #FFFFFF;
    /*-webkit-text-stroke: 1px black;*/
    font: bold 3rem Montserrat, sans-serif;
}
.description{
    margin-top: 5%;
    width: 800px;
    height: 10%;
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(16px, 1.6vw, 48px);
    line-height: 35px;

    color: #FFFFFF;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.gallery {
    display: flex;
    margin-top: 10%;
    width: 100%;
    max-width: 95%;
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}
.product {
    background: #f5ad27;
    padding: 10%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    outline: none;
    opacity: 0;
    transform: translateY(20px);
    animation: show 0.5s ease forwards;
}

@keyframes show {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.product .btn-buy {
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 20px;
    border: 2px solid black;
    background: #f4a733;
    transition: all 0.5s;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #fff;
    
    &:hover {
        background: #f5ad27;
        border: 2px solid green;
    }
}

.product-quantity {
    display: none;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quantity-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        border: none;
        outline: none;
        font-size: 20px;
        cursor: pointer;
        padding: 10px 20px;
        border: 2px solid black;
        background: #f4a733;
        transition: all 0.5s;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        color: #fff;
        
        &:hover {
            background: #f5ad27;
            border: 2px solid green;
            transform: scale(1.1);
        }

        &.btn-add {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }

        &.btn-remove {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }
}

footer {
    background-image: url(https://obakery.kyiv.ua/wp-content/themes/obakery/public/images/bg-footer.5de306a981025fcc.jpg);
    color: white;
    padding: 70px 10px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color: #222;
    padding: 20px;
    color: white;
}

.footer-column {
    text-align: left;
    margin-right: 20px;
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-column a {
    color: #f0c674; /* Цвет ссылок */
    font-size: 14px;
    margin: 5px 0;
    display: block; /* Сделает ссылки вертикальными */
    text-decoration: none; /* Убирает подчеркивание */
}

.footer-column a:hover {
    color: #ffcc00; /* Цвет при наведении */
}

.copyright {
    width: 100%;
    margin-top: 20px;
}


.product img {
    width: 100%;
    height: 250px;
    max-height: 200px;
    /* object-fit: contain; */
    opacity: 0.9;
    border: 5px solid #FFFFFF;
    box-shadow: 5px 7px 4px 5px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}
.product:hover {
    transform: scale(1.05); /* Увеличиваем элемент на 10% */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Добавляем тень */
}
.product p {
    font-size: 1.2vw;
    color: #555;
}
.catalog-button {
    background: #f5ad27;
    border: none;
    padding: 15px 100px;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: block;
    width: fit-content;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    border: 0.2px solid #000000;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    transition: all 0.3s;
    outline: none;
    margin: 20px auto;
}


.catalog-button:hover {
    transform: scale(1.05);
    opacity: 90%;
    border: 0.2px solid #00e88f;
}

.cart-btn{
    cursor: pointer;
}

.cart{
    transform: translateX(-200%);
    position: relative;
    position: absolute;
    position: fixed;
    top: 10%;
    left: 20%;
    width: 60%;
    height: 80%;
    background: #f5ad27;
    border-radius: 20px;
    border-bottom-right-radius: 5px;
    transition: all 0.5s ease;

    &.show{
        transform: translateX(0);
    }

    h1{
        text-transform: uppercase;
        font-weight: 900;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 60px;
        text-align: center;
    }

    .close-btn{
        padding: 30px;
        margin-top: -15px;
        margin-right: -15px;
        position: absolute;
        top: 25px;
        right: 15px;
        cursor: pointer;
    }

    .line{
        cursor: pointer;
        position: absolute;
        top: 25px;
        right: 15px;
        width: 40px;
        height: 5px;
        border-radius: 20px;
        background: #fff;
    }

    .line1{
        transform: rotate(45deg);
    }

    .line2{
        transform: rotate(-45deg);
    }

    .cart-container{

        height: 76%;
        overflow-y: auto;

        padding: 20px;

        .cart-product{
            border-radius: 100px;

            background: #D6890D;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            padding-right: 20px;

            p{
                margin: 0;
                padding: 0;
                font-size: 25px;
                font-family: 'Roboto', sans-serif;
            }
            

            img{
                border-top-left-radius: 100px;
                border-bottom-left-radius: 100px;
                width: 90px;
                height: 90px;
            }

        }

        &::-webkit-scrollbar {
            width: 10px;
            background-color: #f5ad27;
            border-radius: 100px;
          }
          
          &::-webkit-scrollbar-thumb {
            background-color: #fff;
            border-radius: 100px;
          }
    }
}
